.detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.writer {
  font-weight: 700;
  font-size: 15px;
}

.profileImg {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background-color: rgba(217, 217, 217, 1);
}

.date {
  font-weight: 400;
  font-size: 14px;
  margin-left: 14px;
}

.edit {
  display: flex;
  gap: 10px;
}
.editButton {
  font-size: 1rem;
  font-weight: 400;
  padding: 3px 10px;
  background-color: white;
  border: 2px solid rgb(207, 157, 227);
  border-radius: 10px;
  cursor: pointer;
}

.commentListContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;
}

.commentContent {
  font-weight: 400;
  font-size: 15px;
  margin-left: 46px;
}
