* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(250, 250, 250);
}

body {
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  margin: 2.25rem 0rem;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 37.5rem;
  margin-top: 2.5rem;
}

.horizontal-rule {
  width: 100%;
  height: 1px;
  background-color: black;
}

.writer {
  font-weight: 700;
  font-size: 15px;
  line-height: 19.5px;
  letter-spacing: 0%;
}

.profileImg {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background-color: rgba(217, 217, 217, 1);
}
